# Environnement test local
local_test/db.sqlite3
local_test/__pycache__/
local_test/local_test.egg-info/

# Environnements
.env
env/
venv/

# Python cache/logs
__pycache__/
*.pyc
*.pyo
*.log

# Système / uploads
.DS_Store
media/
