# Environnement test local
local_test/db.sqlite3
local_test/__pycache__/
local_test/local_test.egg-info/
db.sqlite3
django.log

# Environnements
.env
env/
venv/

# Python cache/logs
__pycache__/
*.pyc
*.pyo
*.log

# Système / uploads
.DS_Store
media/
staticfiles/
venus-luna
TODO.md
API Cashpay V3.0.pdf

# Docker
*.tar

# Logs de production
*.log
django.log

# Fichiers de production
*.lock

# Logs de production
django.log
gunicorn_access.log
gunicorn_error.log

# Fichiers de production
*.lock
